<h4>Move Types</h4>
<!-- print status message -->

<div id="status_message">
	<%= @status_message %>
</div>

<!-- Print an array of MoveType objects -->
<%= div_for(@move_types) do |move_type| %>
	<%= link_to move_type.title, move_types_path %>
<% end %>

<!-- Navigation -->
<div id="bottom_nav">
	<%= link_to 'Back', :back %> &nbsp;
	<%= link_to 'Home', root_path %> &nbsp;
	<%= link_to 'Moves', moves_path %> &nbsp;
	<%= link_to 'New Move', moves_new_path %> &nbsp;
	<%= link_to 'New Move Type', move_types_new_path %> &nbsp;
</div>
