<%= render "shared/navigation_top" %>
<p class="section_links">
	<span class="section_title">Move Types</span>
	&nbsp;|&nbsp;&nbsp;
	<%= link_to 'New Type', move_types_new_path %> &nbsp;
	<%= link_to 'New Move', moves_new_path %> &nbsp;
</p>

<!-- Print an array of MoveType objects -->
<blockquote>
	<%= div_for(@move_types) do |move_type| %>
		<%= link_to move_type.title, move_type_path(move_type) %>
	<% end %>
</blockquote>
