<%= render "shared/navigation_top" %>
<h3>Move Types</h3>

<!-- print status message -->

<!-- Print an array of MoveType objects -->
<blockquote>
	<%= div_for(@move_types) do |move_type| %>
		<%= link_to move_type.title, move_type_path(move_type) %>
	<% end %>
</blockquote>
<!-- Navigation -->
<div id="bottom_nav">
	<%= link_to 'New Move', moves_new_path %> &nbsp;
	<%= link_to 'New Move Type', move_types_new_path %> &nbsp;
</div>
