<p class="section_links">
	<span class="section_title">Move Types</span>
	&nbsp;|&nbsp;&nbsp;
	<%= link_to 'New Type', move_types_new_path %> &nbsp;
	<%= link_to 'New Move', moves_new_path %> &nbsp;
</p>

<!-- Show all MoveType -->
<%= div_for(@move_types, class: 'move_type') do |move_type| %>
	<%= link_to move_type.title, move_type_path(move_type) %>
<% end %>
<br>
<%= will_paginate @move_types %>
