<%= render "shared/navigation_top" %>
<p class="section_links">
	<span class="section_title"><%= @task.title %></span>
	&nbsp;|&nbsp;&nbsp;
	(<%= @task.completion_aspect %>)&nbsp;
	<%= link_to "Edit", edit_task_path(@task) %>
</p>

	<!-- Mark as complete button -->
	<%= form_for @task do |f| %>
		<%= f.hidden_field :completed_on, { :value => Time.now } %>
		<%= f.hidden_field :complete, { :value => true } %> 
		<%= f.hidden_field :user_id, { :value => @task.user_id} %> 
		<%= button_to "Mark Complete", {action: "update", id: @task.id}, method: :patch %>
	<% end %>
	<!-- delete button -->
	<%= button_to "Delete", {action: "destroy", id: @task.id}, method: :delete, data: {confirm: "Are you sure?"} %>

