<!-- show all AssetType -->
<ol>
<% @asset_types.each do |asset_type| %>
 
    <li>
      <span>Title: 
        <strong><%= asset_type.title %></strong></span><br>
      <span>Group: 
        <em><%= asset_type.group %></em></span>
        </li>
  
  <% end %>
    
</ol>

<%= link_to "New Type", new_asset_type_path %> &nbsp; 
<%= link_to "New Asset", new_asset_path %> &nbsp;
<%= link_to "Home", root_path %>