<p class="section_links">
	<span class="section_title">Asset Types</span>
	&nbsp;|&nbsp;&nbsp;
	<%= link_to "New Type", new_asset_type_path %> &nbsp; 
	<%= link_to "New Asset", new_asset_path %> &nbsp;
</p>


<!-- show all AssetType -->
<% if @asset_types.count > 0 %>
	<%= div_for(@asset_types, class:'asset_type') do |asset_type| %>
		<span>
			<strong><%= link_to asset_type.title, asset_type_path(asset_type.id) %></strong> &nbsp;
			(<em><%= asset_type.group %></em>)
		</span>
	<% end %>    
<% end %>    
<%= will_paginate @asset_types %>

