<%= render 'shared/navigation_top' %>
<!-- show all AssetType -->
<%= div_for(@asset_types) do |asset_type| %>
      <span>
        <strong><%= asset_type.title %></strong></span><br>
      <span>
        <em><%= asset_type.group %></em></span>
<% end %>    

<%= link_to "New Type", new_asset_type_path %> &nbsp; 
<%= link_to "New Asset", new_asset_path %> &nbsp;
