<!-- show asset type -->
<%= div_for( @asset_type ) do %>
	<!-- link to asset title, show records from ASSET that have this title -->
	<div>
		<h2><%= @asset_type.group %></h2>
		<p style='margin-left:2em'><%= link_to @asset_type.title, asset_type_path(@asset_type) %></p>
	</div>
<% end %>

<!-- if an object containing assets of type @asset_type is passed by the
controller, then print divs for each object -->
<% if @assets_by_type %>
	<%= div_for( @assets_by_type ) do |asset| %>
		<%= link_to asset.user.name, user_path(asset.user_id) %><hr>	
		<%= asset.asset_tag %>
		<%= link_to 'Edit', edit_asset_path(asset.id) %><br>
		<%= asset.updated_at %>
	<% end %>
<% end %>

<%= link_to 'New ' + @asset_type.title, new_asset_path(@asset_type.id) %>

<!-- if an object containing assety type groups 
then print a div for each grouping -->
