<table id="users" border="1">
  <!-- First row -->
  <tr>
    <% @users[0..4].each do |user| %>
        <td align="center" id="<%= user.id %>">
          <span class="user_<%= user.id %>">
            <%= link_to user.name, user_path(user) %>
          </span>
          <br>
          <span class="user_<%= user.id %>">
            <%= user.phone or 'None' %>
          </span>
        </td>
    <% end %>
  </tr>
  <!-- Second Row -->
  <tr>
    <% @users[5..9].each do |user| %>
        <td align="center" id="<%= user.id %>">
          <span class="user_<%= user.id %>">
            <%= link_to user.name, user_path(user) %>
          </span>
          <br>
          <span class="user_<%= user.id %>">
            <%= user.phone or 'None' %>
          </span>
        </td>
    <% end %>
  </tr>
  <!-- Third row -->
  <tr>
    <% @users[10..14].each do |user| %>
        <td align="center" id="<%= user.id %>">
          <span class="user_<%= user.id %>">
            <%= link_to user.name, user_path(user) %>
          </span>
          <br>
          <span class="user_<%= user.id %>">
            <%= user.phone or 'None' %>
          </span>
        </td>
    <% end %>
  </tr>
  <!-- Fourth Row -->
  <tr>
    <% @users[15..20].each do |user| %>
        <td align="center" id="<%= user.id %>">
          <span class="user_<%= user.id %>">
            <%= link_to user.name, user_path(user) %>
          </span>
          <br>
          <span class="user_<%= user.id %>">
            <%= user.phone or 'None' %>
          </span>
        </td>
    <% end %>
  </tr>
</table>