<%= render "shared/navigation_top" %>
<!-- Show all users -->
<h3>Users</h3>
<%= div_for(@users) do |user| %>
    <span>Name:<strong> <%= user.name %></strong><br>
    <span>Phone:<strong> <%= user.phone %></strong></span><br>
    <span>Assets owned:<strong> <%= user.assets.count %></strong></span><br>
  <%= if(user.assets.count >= 1) then link_to('Show all Assets', user_path(user)) end %>
<% end %>

<!-- footer links: back, New User, New Move, New Asset -->
<%= link_to 'New User', new_user_path %> &nbsp;
