<!-- print user name -->
<h3>
  <span>
    Assets belonging to &nbsp;
    <%= @user.name %></span></h3>

<!-- Print ordered list of user asset records -->
<% if @user_assets.count >= 1 %>
<% @user_assets.each do |user_asset| %>
    <ol>
      <li>
        <span>Title:
          <em>
            <!-- select title from asset where id = user_asset.asset_type_id -->
            <% user_asset_type = AssetType.where(:id => user_asset.asset_type_id).first %>
            <%= user_asset_type.title %>
          </em></span><br>

        <span>Asset Tag:
          <em>
            <%= user_asset.asset_tag %></em></span>
      </li>
    </ol>
  <% end %> 
<% else %>
  <h2>No asset records found</h2>
<% end %>

<!-- footer links: Home, Users, New Asset for this User -->
<span>
  <%= link_to :back %> &nbsp;
  <%= link_to 'Home', root_path %> &nbsp;
  <%= link_to 'Users Index', users_path %> &nbsp;
  <%= link_to 'New Asset Record for this user', new_asset_path(:id => @user) %>
</span>
