<%= render "shared/navigation_top" %>

<!-- print user name -->
<h3><span>
    Assets belonging to <%= @user.name %></span></h3>

<!-- Print ordered list of user asset records -->
<% if @user_assets.count >= 1 %>
  <%= div_for(@user_assets) do |user_asset| %>
        <span><em><%= user_asset.title or "None" %></em></span><br>
	<span><em><%= user_asset.asset_type.title or 'No type given' %></em></span><br>
        <span><em><%= user_asset.asset_tag or 'No asset tag' %></em></span>
  <% end %>
<% else %>
  <h2>No asset records found</h2>
<% end %>
<span>
	<%= link_to 'New Asset Record for '+@user.name, new_asset_path(:id => @user) %>
</span>


<!-- Print list of user-owned tasks -->
<h3><span>
    Tasks belonging to <%= @user.name %></span></h3>

<% if @user_tasks.count >= 1 %>
  <%= div_for(@user_tasks) do |user_task| %>
        <span><em><%= user_task.title or "None" %></em></span><br>
        <span><em><%= user_task.completion_aspect %></em></span>
  <% end %>
<% else %>
  <h2>No tasks found</h2>
<% end %>

