  <h3>Project Notes:</h3>
  <ol>
  <!-- USERS -->
  <li>
  <p><%= link_to 'Users', users_path %></p>
  <p>Status: working / partially complete.</p>
  </li>
  <!-- MOVES -->
  <li>
  <p><%= link_to 'Moves', moves_path %></p>
  <p>Status: working / partially complete.</p>
  </li>
  <!-- MOVE TYPES -->
  <li>
  <p><%= link_to 'Move Types', move_types_path %></p>
  <p>Status: working / In Progress.</p>
  </li>
  <!-- ASSETS -->  
  <li>
  <p><%= link_to 'Assets', assets_path %></p>
  <p>Status: working / partially complete.</p>
  </li>
  <!-- ASSET TYPES -->
  <li>
  <p><%= link_to 'Asset Types', asset_types_path %></p>
  <p>Status: working / partially complete.</p></li>
  <!-- TASK LISTS -->
  <li>
  <p><%= link_to 'Task Lists', task_lists_path %></p>
  <p>Status: sort-of working / just started</p></li>
  <!-- TASKS -->
  <li>
  <p><%= link_to 'Tasks', task_lists_path %></p>
  <p>Status: not working / not started</p></li>
</ol>
</div>


