<div>
  <p>Welcome to the index!</p>
  <ol>
  <li><p><%= link_to 'Users', users_path %></p>
    <p>Status: working / partially complete.<br>
    <ul>
    <li>#new
    <li>#create
    <li>#index</ul></p>
  <li><p><%= link_to 'Moves', moves_path %></p>
    <p>Status: nonworking / not started.<br>
    <ul></ul></p>
<li><p><%= link_to 'Move Types', move_types_path %></p>
    <p>Status: nonworking / not started.<br>
    <ul></ul></p>
<li><p><%= link_to 'Assets', assets_path %></p>
    <p>Status: working / partially complete.<br>
    <ul><li>#create
      <li>#index
        <li>#new
          <li>- asset tag recorded
  </ul></p>
<li><p><%= link_to 'Asset Types', asset_types_path %></p>
    <p>Status: working / partially complete.<br>
    <ul><li>#create
      <li>#index
      <li>#new</ul></p>
  </ol>
</div>
  