<!-- Put Universal Nav Bar Here -->
<h2>Log Lady 3.001a</h2>
<div>
  <h4>Welcome to the index!</h4>
  <hr>

  <h4>Project Notes:</h4>
  <ol>
  <!-- USERS -->
  <li><p><%= link_to 'Users', users_path %></p>
    <p>Status: working / partially complete.<br>
    <ul>
      <li>#new</li>
      <li>#create</li>
      <li>#index</li></ul></p></li>
  <!-- MOVES -->
  <li><p><%= link_to 'Moves', moves_path %></p>
    <p>Status: nonworking / In Progress.<br>
    <ul>
      <li>#create</li>
      <li>#new
        <ul>
          <li>To Do: Convert IDs in collection_selects into readable strings</li>
          <li>To Do: insert partial form for creating a new Asset record simultaneously with the Move Record</li>
          <li>To Do: Make Pre-Existing Asset Selection box read from Assets belonging to the selected user (tricky)</li>
        </ul>
      </li>
      <li>#index
        <ul>
          <li>To Do: Convert IDs into readable strings</li>
          <li>To DO: Convert displayed created_at date to more readable strings</li>
        </ul>
      </li>

    </ul></p></li>
  <!-- MOVE TYPES -->
  <li><p><%= link_to 'Move Types', move_types_path %></p>
    <p>Status: working / In Progress.<br>
    <ul>
      <li>#index</li>
      <li>#create</li>
      <li>#new</li>
      <li>@status_message doesn't print after redirect_to move_types#index </li>
    </ul></p></li>
  <!-- ASSETS -->  
  <li><p><%= link_to 'Assets', assets_path %></p>
      <p>Status: working / partially complete.<br>
      <ul>
        <li>#create</li>
        <li>#index</li>
        <li>#new</li>
        <li>- asset tag recorded</li>
  </ul></p></li>
  <!-- ASSET TYPES -->
  <li><p><%= link_to 'Asset Types', asset_types_path %></p>
      <p>Status: working / partially complete.<br>
      <ul>
        <li>#create</li>
        <li>#index</li>
        <li>#new</ul></p>
  </ol>
</div>

<!-- TO DO List -->
<div>
  <h4>To Do List / Wish List</h4>
  <ol>
    <li>Use buttons for actions instead of links</li>
    <li>Apply CSS to site to make it look less shitty</li>
    <li>Quick-entry form at welcome#index</li>
    <li>validation for Assets and Users</li>
    <li>No duplications! (check for dupes on new entry</li>
    <li>Make use of partials to reduce redundancy in views</li>
    <li>Unified Color Scheme / Visual Theme </li>
    <li>universal navigation bars at top & bottom </li>
  </ol>
</div>
  