<div>
  <p>Welcome to the index!</p>
  <p><ol>
  <li><%= link_to 'Users', users_path %>
  <li><%= link_to 'Moves', moves_path %>
  <li><%= link_to 'Move Types', move_types_path %>
  <li><%= link_to 'Assets', assets_path %>
  <li><%= link_to 'Asset Types', asset_types_path %>
  </ol></p>
</div>
  