<%= render "shared/navigation_top" %>
<h3>Moves</h3>

<!-- Print Status Messages -->

<!-- Print All Move Records -->
<%= div_for(@moves) do |move| %>
	<p>Date Created: &nbsp; 
		<%= Time.at(move.created_at.to_i).to_date.inspect %></p>
	<p>Description:&nbsp; 
		<%= move.description %></p>
	<p>User: &nbsp; 
    		<%= move.user.name %></p>
	<p>Move Type: &nbsp; 
		<%= move.move_type.title %></p>
	<p>Asset Type: &nbsp; 
		<%= move.asset.asset_type.title %></p>
	<p>Asset Tag: &nbsp;
		<%= move.asset.asset_tag %></p>
<% end %>


<!-- Bottom Nav -->
<div id="bottom_nav">
	<%= link_to 'New Move', new_move_path %> &nbsp;
	<%= link_to 'New Type', new_move_type_path %>
</div>



