<h4>Moves</h4>

<!-- Print Status Messages -->

<!-- Print All Move Records -->
<%= div_for(@moves) do |move| %>
	<p>Date Created: &nbsp; 
		<%= Time.at(
				move.created_at.to_i).to_date.inspect %></p>
	<p>Description:&nbsp; 
		<%= move.description %></p>
	<p>User: &nbsp; 
    <%= move.user.name %></p>
	<p>Move Type: &nbsp; 
		<%= move.move_type.title %></p>
	<p>Asset Tag: &nbsp; 
		<%= move.asset_id %></p>
	<p><%=  %></p>
<% end %>


<!-- Bottom Nav -->
<div id="bottom_nav">
	<%= link_to 'Back', :back %> &nbsp;
	<%= link_to 'Home', root_path %> &nbsp;
	<%= link_to 'Move Types', move_types_path %> &nbsp;
	<%= link_to 'New Move', new_move_path %> &nbsp;
</div>



<!-- reprint of schema.rb for testing purposes:

 create_table "moves", force: true do |t|
    t.text     "description"
    t.integer  "user_id"
    t.integer  "move_type_id"
    t.integer  "asset_id"
    t.datetime "created_at"
    t.datetime "updated_at"
  end
-->