<h4>New Move</h4>

<!-- Form to create a new Move record -->
<%= form_for @move do |f| %>

	<!-- text field for description -->
	<%= f.label :description %><br>
	<%= f.text_area :description %><br>

	<!-- selection field for User -->
  	User:<br>
	<%= collection_select(
          @move, 
					:user_id, 
					User.all, 
					:id, 
					:name, 
					{:selected => 0}
	) %><br>

	<!-- Selection field for Move Type -->
	Move Type:<br>
	<%= collection_select(
					:move,
					:move_type_id,
          MoveType.all,
					:id,
					:title,
					{:selected => 0}
	) %><br>


	<!-- Selection field for existing Assets-->
	Select Existing Asset:<br>
	<%= collection_select(
					:move,
					:asset_id,
					@assets,
					:id,
    :asset_type_id,
					{:selected => 0}
	) %><br>
<%= @assets.inspect; %>
	<!-- Print new asset partial -->
  	Create New Asset for This Move:<br>

	<%= f.submit  %>
<% end %>

<!-- reprint of schema.rb for testing purposes:

 create_table "moves", force: true do |t|
    t.text     "description"
    t.integer  "user_id"
    t.integer  "move_type_id"
    t.integer  "asset_id"
    t.datetime "created_at"
    t.datetime "updated_at"
  end -->