<%= form_for @asset do |f| %>
<%= params.inspect %><br>

	<!-- get title -->
	<%= f.label :title %><br>
	<%= f.text_field :title %><br><br>

	<!-- Get AssetType id -->
<%= f.label :asset_type %><br>
	<%= collection_select(
                :asset, 
                :asset_type_id, 
                AssetType.all, 
                :id, 
                :title) 

  %><br><br>

  <!-- Get User id -->
<%= f.label :user %><br>
	<%= collection_select(
                  :asset, 
                  :user_id, 
                  User.all, 
                  :id, 
                  :name, 
  ) %><br><br>

  <!-- Enter Asset Tag -->
<%= f.label :asset_tag %><br>
  <%= f.text_field :asset_tag %><br><br>
  
  <%= f.submit %>
<% end %>

<p><%= link_to "Cancel", @asset %></p>
