<%= render "shared/navigation_top" %>
<p class="section_links">
	<span class="section_title">Assets</span>
	&nbsp;|&nbsp;&nbsp;
	<%= link_to "New Asset", new_asset_path %> &nbsp; 
	<%= link_to "New Type", new_asset_type_path %> &nbsp;
</p>


<%= render 'tables' %>
<%= render 'pagination' %>


