<%= render "shared/navigation_top" %>
<h3>Assets</h3>
<!-- show all Asset -->
<ol>
<% @assets.each do |asset| %>
	<li><div id=<%= 'asset.'+asset.id.to_s %>>
	<span>Title: <%= asset.title || "none" %></span><br>
      <span>Type: <strong><%= asset.asset_type.title %></strong></span><br>
      <span>User: <em><%= asset.user.name %></em></span><br>
      <span>Asset Tag: <em><%= asset.asset_tag %></em></span>
        </div></li>
<% end %>
</ol>

<%= link_to "New Asset", new_asset_path %> &nbsp; 
<%= link_to "New Type", new_asset_type_path %> &nbsp;
