assets#index
<!-- show all Asset -->
<ol>
<% @assets.each do |asset| %>
 
    <li>
      <span>Title:
        <strong>
          <!-- select title from asset where id = asset.asset_type_id -->
          <% asset_type = AssetType.where(:id => asset.asset_type_id).first %>
          <%= asset_type.title %>
        </strong></span><br>
      <span>User:
        <em>
          <!-- select user from user where id = asset.user_id -->
          <% asset_user = User.where(:id => asset.user_id).first %>
          <%= asset_user.name %></em></span>
        </li>
  
  <% end %>
    
</ol>

<%= link_to "New Asset", new_asset_path %> &nbsp; 
<%= link_to "New Type", new_asset_type_path %> &nbsp;
<%= link_to "Home", root_path %>