<h3>New Asset</h3>
<% unless @user.id then %>
<%= form_for @asset do |f| %>

  <!-- Get AssetType id -->
  Asset Type: <br>
  <%= collection_select(:asset, :asset_type_id, AssetType.all, :id, :title) %><br>

  <!-- Get User id -->
  User:<br>
<%= collection_select(:asset, :user_id, User.all, :id, :name, {:selected => (@user.id || 0)} ) %><br>

  <!-- Enter Asset Tag -->
  Asset Tag:<br>
  <%= f.text_field :asset_tag %><br>
  
  <%= f.submit %>
<% end %>

<!-- footer links: back -->
<%= link_to 'Back', :back %>