<!-- render a color-coded div li for each task in the list --> 
<div class="task_list">
	<!-- check for the presence of tasks in this list -->
	<% if @task_list_tasks.count > 0  %>
		<!-- if incomplete items are shown also, print them at the bottom --> 
		<%= div_for(@task_list_tasks) do |task| %>
			<% unless task.complete  %>
			<ul>
				<li class="<%= task.completion_aspect %>">
				<p style="margin-left:2.5em;">
					<%= link_to task.title, task_path(task) %> &nbsp;
					(<%= link_to task.user.name, user_path(task.user) %>)
				</p>
				</li>
			</ul>
			<% end %>
		<% end %>
		<%= div_for(@task_list_tasks) do |task| %>
			<% if task.complete %>
			<ul>
				<li class="<%= task.completion_aspect %>">
				<p style="margin-left:2.5em;">
					<%= link_to task.title, task_path(task) %> &nbsp;
					(<%= link_to(task.user.name, user_path(task.user)) %>
					<%= ',  completed on '+task.completed_on.strftime("%m-%d-%Y") %>)
				</p>
				</li>
			</ul>
			<% end %>
		<% end %>

	<% else %> <!-- if no tasks are present in this list, then say so. -->
		<div>
			<p style="margin-left:2.5em;">
			<em>No Tasks</em></p>
		</div>
	<% end %>
</div>

