<%= render "shared/navigation_top" %>
<h3><%= @task_list.title %></h3>
<% if @task_list_tasks then %>
	<%= div_for(@task_list_tasks) do |task| %>
		<ul>
			<li class="<%= task.completion_aspect %>">
				<%= link_to task.title, task_path(task) %>
			</li>
			<p style="margin-left:2.5em;">
				<%= User.find(task.user_id).name %><br>
				<%= task.completion_aspect %>
			</p>
		</ul>
	<% end %>
<% end %>
<%= link_to 'New Task', new_task_list_task_path(@task_list) %>
